.caroussel {
  margin-top: -10rem;
}

.caroussel img {
  width: 500px;
  height: 300px;
}

nav {
  z-index: 1000;
}

.vertical-line {
  border-left: 4px solid #e33131;
  display: inline;
  padding-left: 10px;
  padding-top: 15px;
}

#feature {
  display: inline;
}

.twitter {
  border: 3px solid #25b4e6;
  background-color: #25b4e6;
  border-radius: 30px;
  transition: all 1s;
  color: white;
  top: 0;
  padding-right: 4px;
  padding-left: 20px;
  vertical-align: middle;
}

.twitter:hover {
  transform: translate(4em, 0);
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

.facebook {
  border: 3px solid #1a4cea;
  background-color: #1a4cea;
  border-radius: 30px;
  transition: all 1s;
  color: white;
  top: 50px;
  padding-right: 105px;
  padding-left: 10px;
}

.facebook:hover {
  transform: translate(4.3em, 0);
  text-decoration: none;
  color: white;
}

.dribble {
  border: 3px solid #eb84c9;
  background-color: #eb84c9;
  border-radius: 30px;
  transition: all 1s;
  color: white;
  top: 100px;
  padding-right: 4px;
  padding-left: 20px;
}

.dribble:hover {
  transform: translate(4em, 0);
  text-decoration: none;
  color: white;
}

.google {
  border: 3px solid #ea1a1a;
  background-color: #ea1a1a;
  border-radius: 30px;
  transition: all 1s;
  color: white;
  top: 150px;
  padding-right: 4px;
  padding-left: 20px;
}

.google:hover {
  transform: translate(4em, 0);
  text-decoration: none;
  color: white;
}

.social i {
  background-color: white;
  color: black;
  border-radius: 30px;
  border: 10px solid white;
}

.social a {
  display: flex;
  justify-content: space-between;
  display: inline-flex;
  position: absolute;
  width: 120px;
  left: -80px;
}

.social {
  display: flex;
  flex-direction: column;
  position: relative;
}

#genre {
  padding: 0.4em;
  background-color: #e33131;
  color: white;
}

.btntop {
  background-color: #e33131;
  color: white;
}

.red {
  color: #e33131;
}

.info {
  display: flex;
  background-color: #e33131;
  color: white;
  text-transform: uppercase;
  height: 4.5rem;
  align-content: center;
}

#register {
  color: white;
  background-color: black;
}

#login {
  color: white;
  background-color: black;
}

#morefilm {
  background-color: #e33131;
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 2%;
  padding: 1%;
  border: gray solid 0px;
  border-radius: 4px;
}

#shop {
  display: inline;
  margin-top: 30px;
}

.fleche {
  justify-items: right;
}

footer {
  background-color: rgb(29, 29, 29);
}
#formSubscribe {
  display: block;
  margin: auto;
  text-align: center;
}
#titleSubscribe {
  text-align: center;
  margin-top: 2rem;
  color: rgb(255, 68, 66);
}
#titleFooter {
  color: rgb(152, 154, 153);
}
#connectus {
  color: rgb(152, 154, 153);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
.film2019 {
  padding-bottom: -15px;
  width: 125%;
}
.btnreview {
  border: gray solid 0px;
  color: rgb(192, 192, 192);
  font-weight: 600;
  background-color: rgb(66, 66, 66);
  margin-bottom: 2%;
}
#btnContact {
  background-color: #e33131;
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 2%;
  padding: 1%;
  border: gray solid 0px;
  border-radius: 4px;
}
#btnSubscribe {
  background-color: #e33131;
  border: gray solid 0px;
  color: white;
}
#search {
  background-color: #e33131;
  border: gray solid 0px;
  color: white;
}
