.jumbotron img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.bor {
  border: 7px solid white;
  border-radius: 50%;
}

.twitter {
  border: 3px solid #25b4e6;
  background-color: #25b4e6;
  transition: all 1s;
  width: 50%;
  color: white;
}

.twitter:hover {
  width: 75%;
  transform: translate(3em, 0);
}

.facebook {
  border: 3px solid #1a4cea;
  background-color: #1a4cea;
  transition: all 1s;
  width: 50%;
  color: white;
}

.facebook:hover {
  width: 75%;
  transform: translate(3em, 0);
}

.dribble {
  border: 3px solid #eb84c9;
  background-color: #eb84c9;
  transition: all 1s;
  width: 50%;
  color: white;
}

.dribble:hover {
  width: 75%;
  transform: translate(3em, 0);
}

.google {
  border: 3px solid #ea1a1a;
  background-color: #ea1a1a;
  transition: all 1s;
  width: 50%;
  color: black;
}

.google:hover {
  width: 75%;
  transform: translate(3em, 0);
}

#genre {
  padding: 0.4em;
  background-color: #e33131;
  color: white;
}

.btntop {
  background-color: #e33131;
  color: white;
}

.red {
  color: #e33131;
}

.info {
  display: flex;
  background-color: #e33131;
}

#register {
  color: white;
  background-color: black;
}

#login {
  color: white;
  background-color: black;
}

footer {
  background-color: rgb(29, 29, 29);
}
#formSubscribe {
  display: block;
  margin: auto;
  text-align: center;
}
#titleSubscribe {
  text-align: center;
  margin-top: 2rem;
  color: rgb(255, 68, 66);
}
#titleFooter {
  color: rgb(152, 154, 153);
}
#connectus {
  color: rgb(152, 154, 153);
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}
.film2019 {
  padding-bottom: -15px;
  width: 125%;
}
.btnreview {
  border: gray solid 0px;
  color: rgb(192, 192, 192);
  font-weight: 600;
  background-color: rgb(66, 66, 66);
  margin-bottom: 2%;
}
